h1 {
    background-color: aqua;
    width: 20%;
    height: auto;
  }
  
  .biblio {

    img {
        width: 70%;
        height: auto;
        padding-left: 26%;
        padding-bottom: 20px;
    }

    h3 {
        padding-left: 4px;
    }

    p {
        text-align: center;
        padding-left: 0;
    }
    
  }



  footer {
    font-style: italic;
    background-color: gray;
    border: 2px solid black;
    margin-top: 5px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5cm;

}

footer nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

    ul {
        list-style: none;
        
    }
}

.sobre {
    h2 {
        margin-left: 55%;
    }

    p {
        margin-left: 55%;
    }
}

.copy {
    margin-left: 15%;

    h2 {
        margin-left: 15%;
    }
}