h1 {
    background-color: aqua;
    width: 40%;
    height: auto;
}

.soporte {
    img {
        width: 70%;
        height: auto;
        padding-left: 25%;
        padding-bottom: 20px;
    }
}

footer {
    background-color: grey;
}